*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
#Otp{
    width: 100vw;
    height: 100vh;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#otp-div{
    width: 30%;
    height: 50%;
    border: 1px solid rgb(223, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
#otp-div:hover{
    box-shadow: 0 5px 15px rgb(0, 0, 0,0.06);
    transition: 0.3s;
}
#otp-div h1{
    margin-bottom: 10px;
}
#otp-div input{
    height: 30px;
    border-radius: 5px;
    background-color: #e1e1e1;
    color: black;
    text-align: center;
    font-size: 18px;
}
#otp-div label{
    font-weight: 600;
}
#btn{
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color:slategray;
    font-weight: 600;
}
#btn:hover{
    box-shadow: 0 5px 20px rgb(0, 0, 0,0.06);
    transition: 0.3s;
}